<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entry_name %>
    <%= form.text_area :entry_name %>
  </div>

  <div class="field">
    <%= form.label :list_id %>
    <%= form.number_field :list_id %>
  </div>

  <div class="field">
    <%= form.label :votes %>
    <%= form.number_field :votes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
