<h1 class="title">User <%= @user.username %></h1>

<div class="section">
  <p>
    <%= @user.first_name %>
    <br>
    <%= @user.last_name %>
    <br>
    <%= @user.email %>
    <br>
    <br>
    <%= link_to 'Edit User', edit_user_path, class: 'button alt' %>
  </p> 
</div>
